<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Save Information</title>
</head>

<body>

	<div class="container">
	
		<h3>Inventory Information</h3>
		<hr>
		
		<p class="h4 mb-4">Save Information</p>
	
		<form action="#" th:action="@{/information/save}"
						 th:object="${information}" method="POST">
		
			
			<input type="text" th:field="*{item}"
					class="form-control mb-4 col-4" placeholder="item">

			<input type="text" th:field="*{description}"
					class="form-control mb-4 col-4" placeholder="Description">

			<input type="text" th:field="*{dateBrought}"
					class="form-control mb-4 col-4" placeholder="DateBrought">
					
			<input type="text" th:field="*{stock}" 
			class="form-control mb-4 col-4" placeholder="stock">
				
			<button type="submit" class="btn btn-info col-2">Save</button>
						
		</form>
	
		<hr>
		<a th:href="@{/information/list}">Back to Employees List</a>
		
	</div>
</body>

</html>










